asgiref==3.8.1
certifi==2025.1.31
chardet==5.2.0
charset-normalizer==3.4.1
colorama==0.4.6
crispy-bootstrap5==2024.10
distlib==0.3.9
dj-database-url==2.3.0
Django==5.1.5
django-bootstrap5==25.1
django-cors-headers==4.7.0
django-crispy-forms==2.3
djangorestframework==3.15.2
filelock==3.18.0
gunicorn==23.0.0
idna==3.10
instamojo-wrapper==1.2.0
packaging==25.0
pillow==11.1.0
platformdirs==4.3.7
psycopg2-binary==2.9.10
python-dotenv==1.1.0
qrcode==8.0
razorpay==1.4.2
reportlab==4.3.1
requests==2.32.3
setuptools==78.0.1
sqlparse==0.5.3
typing_extensions==4.13.2
tzdata==2025.1
urllib3==2.3.0
virtualenv==20.29.3
virtualenvwrapper-win==1.2.7
whitenoise==6.9.0
